.git
.gitignore
.DS_Store
.vscode
.idea
.local
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
node_modules
dist
build
.vite
api-service/.venv
api-service/.uv-cache
api-service/.pytest_cache
api-service/app/static
worker-service/.venv
worker-service/.uv-cache
worker-service/.pytest_cache
frontend-service/node_modules
frontend-service/dist
shared-data
*.db
