WORKER_PORT=8001

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=task_flow
POSTGRES_USER=user
POSTGRES_PASSWORD=

RABBITMQ_URL=amqp://guest:guest@localhost:5672/
WORKER_CONSUMER_QUEUE=tasks.phase1
WORKER_MAX_CONCURRENCY=4
RABBITMQ_PREFETCH_COUNT=4

DB_POOL_SIZE=4
DB_MAX_OVERFLOW=2

EMAIL_PROVIDER_MODE=fake

LOCAL_STORAGE_PATH=/
OUTPUT_STORAGE_PATH=outputs
